Button:hover {
    background-color: #8b7a97 !important;
}

pre {
    font-family: var(--bs-body-font-family) !important;
}

.poem-card {
    -webkit-box-shadow: 10px 10px 39px -8px rgba(161,161,161,1);
    -moz-box-shadow: 10px 10px 39px -8px rgba(161,161,161,1);
    box-shadow: 10px 10px 39px -8px rgba(161,161,161,1);
    padding: '.5rem';
    height: '100%';
    border-radius: '1rem';
    width: '75%';
}